<!doctype html>
<html ng-app="boilerplate">
<head>
    <meta charset="utf-8">
    <title>AngularJS Boilerplate</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>
<body >
<style>


</style>

<ul class="rb-site-nav" ng-controller="SiteNavController">

    <li><input type="text" ng-model="query" class="input-block-level" /></li>

    <li class="rb-site-nav-item" ng-repeat="navItem in navItems | filter:query">
        <span ng-click="toggleNavItem(navItem)">{{navItem.title}}</span>
        <ul class="rb-site-subnav" ng-show="navItem.subNavItems.length && isActiveNavItem(navItem)">
            <li class="rb-site-subnav-item" ng-repeat="subNavItem in navItem.subNavItems | filter:query" ng-class="{'active' : isActiveSubNavItem(subNavItem)}" ng-click="setActiveSubNavItem(subNavItem)">
                {{subNavItem.title}}
            </li>
        </ul>
    </li>
</ul>



</body>
</html>